torch==2.6.0
torchvision==0.21.0
ultralytics==8.3.103
xgboost==3.0.0
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
opencv-python==4.9.0.80
joblib==1.4.2
streamlit==1.42.2
langchain==0.1.17
google-generativeai==0.8.4
markdown-it-py==3.0.0
mdurl==0.1.2
rich==13.9.4
pygments==2.19.1

